/* STEP 1: SET THE COLOUR SCHEME */
:root {
  --colour-accent: #ff3400;
  --colour-bodytext: #918ca4;
  --colour-headings: #1b0706;
  --colour-primary: #2584ff;
  --colour-secondary: #00d9ff;
}

/* STEP 2: SET THE TYPOGRAPHY */
* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: var(--colour-bodytext);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--colour-headings);
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* LINKS */

.link-arrow {
  color: var(--colour-accent);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.2s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 2024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* BADGES */

.badge {
  /* Structure */
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap; /* Disable text wrapping inside the badge*/
}

.badge--primary {
  /* Skin of primary badge */
  background: var(--colour-primary);
  color: white;
}

.badge--secondary {
  background: var(--colour-secondary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}
