<section class="block block--dark block--skewed-right showcase">
  <header class="block__header">
    <h2>User-friendly Control Panel</h2>
  </header>
  <div class="constraint grid grid--cols-2">
    <picture class="showcase__image">
      <source type="image/webp" srcset="images/ipad700.webp" />
      <img src="images/ipad700.png" alt="" />
    </picture>
    <ul class="list">
      <li class="list__item">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi
              illum reiciendis, aperiam voluptas ab ullam cumque quod
              distinctio, quasi nemo facilis aspernatur dicta quaerat quibusdam
              amet natus culpa laboriosam tenetur.
            </p>
          </div>
        </div>
      </li>
      <li class="list__item">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, GIT & WP-CLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi
              illum reiciendis, aperiam voluptas ab ullam cumque quod
              distinctio, quasi nemo facilis aspernatur dicta quaerat quibusdam
              amet natus culpa laboriosam tenetur.
            </p>
          </div>
        </div>
      </li>
      <li class="list__item">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi
              illum reiciendis, aperiam voluptas ab ullam cumque quod
              distinctio, quasi nemo facilis aspernatur dicta quaerat quibusdam
              amet natus culpa laboriosam tenetur.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
