<section class="block">
  <header class="block__header">
    <h2>What our Customers are Saying</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, nam?</p>
  </header>
  <div class="constraint">
    <div class="card testimonial">
      <div class="grid grid--cols-2">
        <div class="testimonial__image">
          <img src="images/testimonial.jpg" alt="A happy, smiling customer" />
          <span class="icon-container icon-container--accent">
            <svg class="icon--white icon--small">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            nihil distinctio sit mollitia nemo recusandae doloremque rerum,
            corporis vero in dolores esse! Lorem ipsum dolor sit amet. Lorem
            ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__org">ABC Ltd.</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
